network/base/common/src/main/resources/jaxb/base/BaseTypes/BaseTypes.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0"
            targetNamespace="http://scanner.misd.isi.edu/network/types/base"
            xmlns:tns="http://scanner.misd.isi.edu/network/types/base" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc"            
            elementFormDefault="qualified">                                                      
   
    <xsd:simpleType name="ServiceRequestStateType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Processing"/>            
            <xsd:enumeration value="Complete"/>          
            <xsd:enumeration value="Held"/>
            <xsd:enumeration value="Rejected"/>            
            <xsd:enumeration value="Error"/>
        </xsd:restriction>
    </xsd:simpleType>
       
    <xsd:element name="ServiceResponseMetadata">
        <xsd:annotation>
            <xsd:documentation>
                A response metadata structure common to all services
            </xsd:documentation>
        </xsd:annotation> 
        <xsd:complexType> 
            <xsd:sequence>  
                <xsd:element name="RequestID" 
                             type="xsd:string"
                             minOccurs="1"
                             maxOccurs="1"/>  
                <xsd:element name="RequestURL" 
                             type="xsd:string"
                             minOccurs="1"
                             maxOccurs="1"/>                                         
                <xsd:element name="RequestState" 
                             type="tns:ServiceRequestStateType"
                             minOccurs="1"
                             maxOccurs="1"/>
                <xsd:element name="RequestStateDetail" 
                             type="xsd:string"
                             minOccurs="0"
                             maxOccurs="1"/>   
                <xsd:element name="RequestExecutionDuration" 
                             type="xsd:string"
                             minOccurs="0"
                             maxOccurs="1"/>                                                 
                <xsd:element name="RequestSiteName" 
                             type="xsd:string"
                             minOccurs="0"
                             maxOccurs="1"/>       
                <xsd:element name="RequestNodeName" 
                             type="xsd:string"
                             minOccurs="0"
                             maxOccurs="1"/>                           
            </xsd:sequence>               
        </xsd:complexType>
    </xsd:element>    
       
    <xsd:element name="ServiceResponseData">
        <xsd:annotation>
            <xsd:documentation>
                The data output of a service invocation.  
            </xsd:documentation>
        </xsd:annotation>          
        <xsd:complexType>
            <xsd:sequence>                   
                <xsd:any namespace="##any"/>                                         
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
       
    <xsd:element name="ServiceResponse">
        <xsd:annotation>
            <xsd:documentation>
                A generic structure which combines the output data of a service invocation along with basic metadata about the generated response.  It may or may not include the actual input data, depending on the underlying implementation.
            </xsd:documentation>
        </xsd:annotation>          
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:ServiceResponseMetadata" 
                             minOccurs="1"
                             maxOccurs="1"/>                      
                <xsd:element ref="tns:ServiceResponseData" 
                             minOccurs="1"
                             maxOccurs="1"/>                                             
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
                                             
    <xsd:element name="ServiceResponses">
        <xsd:annotation>
            <xsd:documentation>
                An object which encapuslates an aggregate of ServiceResponse objects
            </xsd:documentation>
        </xsd:annotation>          
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:ServiceResponse" 
                             minOccurs="0" 
                             maxOccurs="unbounded"/>                                           
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
            
    <xsd:element name="SimpleMapData">
        <xsd:annotation>
            <xsd:documentation>
                A single key-value pair object
            </xsd:documentation>
        </xsd:annotation>                 
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="key" type="xsd:string"/>
                <xsd:element name="value" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element> 
                                          
    <xsd:element name="SimpleMap">
        <xsd:annotation>
            <xsd:documentation>
                A simple list of key-value pairs for storing arbitrary data.
            </xsd:documentation>
        </xsd:annotation>          
        <xsd:complexType> 
            <xsd:sequence>                       
                <xsd:element ref="tns:SimpleMapData" 
                             minOccurs="0" 
                             maxOccurs="unbounded"/>                  
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>   
                                                                    
    <xsd:complexType name="IntegerType">
        <xsd:annotation>
            <xsd:documentation>
                An (optionally) named integer value
            </xsd:documentation>
        </xsd:annotation>     
        <xsd:sequence>          
            <xsd:element name="name" 
                         type="xsd:string"
                         minOccurs="0"
                         maxOccurs="1"/>                
            <xsd:element name="value" 
                         type="xsd:integer"
                         minOccurs="1"
                         maxOccurs="1"/>        
        </xsd:sequence>         
    </xsd:complexType>
               
    <xsd:complexType name="DoubleType">
        <xsd:annotation>
            <xsd:documentation>
                An (optionally) named double value 
            </xsd:documentation>
        </xsd:annotation>     
        <xsd:sequence>          
            <xsd:element name="name" 
                         type="xsd:string"
                         minOccurs="0"
                         maxOccurs="1"/>             
            <xsd:element name="value" 
                         type="xsd:double"
                         minOccurs="1"
                         maxOccurs="1"/>              
        </xsd:sequence>         
    </xsd:complexType>
                 
    <xsd:complexType name="MatrixRowType">
        <xsd:annotation>
            <xsd:documentation>
                An array of (one or more) DoubleTypes
            </xsd:documentation>
        </xsd:annotation>     
        <xsd:sequence>          
            <xsd:element name="name" 
                         type="xsd:string"
                         minOccurs="0"
                         maxOccurs="1"/>               
            <xsd:element name="MatrixColumn" 
                         type="tns:DoubleType"
                         minOccurs="1"
                         maxOccurs="unbounded"/>            
        </xsd:sequence>       
    </xsd:complexType>

    <xsd:complexType name="MatrixType">
        <xsd:annotation>
            <xsd:documentation>
                An array of (one or more) arrays of MatrixRowTypes
            </xsd:documentation>
        </xsd:annotation>        
        <xsd:sequence>
            <xsd:element name="name" 
                         type="xsd:string"
                         minOccurs="0"
                         maxOccurs="1"/>              
            <xsd:element name="MatrixRow" 
                         type="tns:MatrixRowType"
                         minOccurs="1"
                         maxOccurs="unbounded"/>                                          
        </xsd:sequence>            
    </xsd:complexType>
                   
    <xsd:complexType name="MatrixTypeArray">
        <xsd:annotation>
            <xsd:documentation>
                An array of (one or more) arrays of MatrixTypes
            </xsd:documentation>
        </xsd:annotation>        
        <xsd:sequence>
            <xsd:element name="name" 
                         type="xsd:string"
                         minOccurs="0"
                         maxOccurs="1"/>             
            <xsd:element name="Matrix" 
                         type="tns:MatrixType"
                         minOccurs="1"
                         maxOccurs="unbounded"/>                                           
        </xsd:sequence>          
    </xsd:complexType>
                                          
    <xsd:complexType name="DataSetMetadata">
        <xsd:annotation>
            <xsd:documentation>
                Defines a structure for describing the location and access metadata of a logical data set
            </xsd:documentation>
        </xsd:annotation>        
        <xsd:sequence>
            <xsd:element name="DataSetName" 
                         type="xsd:string"
                         minOccurs="1"
                         maxOccurs="1"/>   
            <xsd:element name="DataSetID" 
                         type="xsd:string"
                         minOccurs="1"
                         maxOccurs="1"/>                                             
            <xsd:choice>
                <xsd:annotation>
                  <xsd:appinfo>
                    <jaxb:property name="DataSource"/>
                  </xsd:appinfo>
                </xsd:annotation>                
                <xsd:element name="FileDataSource" 
                             type="tns:FileDataSource" 
                             minOccurs="1" 
                             maxOccurs="1"/>
                <xsd:element name="JDBCDataSource" 
                             type="tns:JDBCDataSource" 
                             minOccurs="1" 
                             maxOccurs="1"/>
            </xsd:choice>             
        </xsd:sequence>      
    </xsd:complexType>     
          
    <xsd:complexType name="DataSourceType">
        <xsd:annotation>
            <xsd:documentation>
                Defines an abstract structure for describing a logical data source
            </xsd:documentation>
        </xsd:annotation>        
        <xsd:sequence>
            <xsd:element name="Type" 
                         type="xsd:string"
                         minOccurs="1"
                         maxOccurs="1"/>              
            <xsd:element name="Description" 
                         type="xsd:string"
                         minOccurs="0"
                         maxOccurs="1"/>             
        </xsd:sequence>            
    </xsd:complexType>      
    
    <xsd:complexType name="FileDataSource">
        <xsd:annotation>
            <xsd:documentation>
                Defines a structure for describing a file-based data source
            </xsd:documentation>
        </xsd:annotation>   
        <xsd:complexContent>
            <xsd:extension base="tns:DataSourceType">  
                <xsd:sequence>
                    <xsd:element name="FileType" 
                                 type="xsd:string"
                                 minOccurs="1"
                                 maxOccurs="1"/>   
                    <xsd:element name="FilePath" 
                                 type="xsd:string"
                                 minOccurs="1"
                                 maxOccurs="1"/>                                                     
                </xsd:sequence>                   
            </xsd:extension>
        </xsd:complexContent>                    
    </xsd:complexType>  
        
    <!-- 
        NOTE: this is here for expansion, database data sources are currently
        not supported and it is likely that the structure below is incomplete.
    -->
    <xsd:complexType name="JDBCDataSource">
        <xsd:annotation>
            <xsd:documentation>
                Defines a structure for describing a JDBC-based data source
            </xsd:documentation>
        </xsd:annotation>        
        <xsd:complexContent>
            <xsd:extension base="tns:DataSourceType">  
                <xsd:sequence>          
                    <xsd:element name="DatabaseType" 
                                 type="xsd:string"
                                 minOccurs="1"
                                 maxOccurs="1"/>  
                    <xsd:element name="DatabaseDriver" 
                                 type="xsd:string"
                                 minOccurs="1"
                                 maxOccurs="1"/>               
                    <xsd:element name="DatabaseConnectionString" 
                                 type="xsd:string"
                                 minOccurs="1"
                                 maxOccurs="1"/>                                                      
                </xsd:sequence>  
            </xsd:extension>
        </xsd:complexContent>                 
    </xsd:complexType>  
                   
</xsd:schema>
